<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title style="color:red;">Text Translator</title>
  </head>
  <body>
    <h1>TextTranslator</h1>
    <h2>Enter Text to Translate:</h2>
    <p>Supported Languages: French</p>
    <form action="/" method = "POST">
      <textarea id="textbox1" class = "textbox" name="textbox" rows="4" cols="50">

      </textarea>
      <br><br>
      <input type="submit" value="Submit">
    </form>
    <h3>Original Text</h3>
    {{origianlText}}
    <h3>Translated Text:</h3>
    {{translatedText}}
</body>
</html>
